.padding-right-text {
  padding-right: 0.5em;
}

.padding-left-icon {
  padding-left: 0.5em;
}

.margin-top-down {
  margin: 1em 0;
}

.timer-label {
  color: #444444;
  font-size: 7em;
  text-align: center;
}

.hr-bottom {
  border-bottom: 1px solid #dbdbdb;
  padding: 0.5em 0;
}

.m-t-b {
  margin: 4px 0;
}

.m-l {
  margin-left: 0.5em;
}
